<hlm-command>
  <hlm-command-input placeholder="Type a command" />
  <hlm-command-list>
    <hlm-command-group>
      <hlm-command-group-label>Elements</hlm-command-group-label>
      @for (element of elementService.deployedElements(); track element.id) {
        <button hlm-command-item (mouseover)="onElementMouseOver(element.id)" (mouseleave)="onElementMouseLeft()" value={{element.name}}>
          {{element.name}}
        </button>
      }
    </hlm-command-group>
    <hlm-command-separator />
  </hlm-command-list>
</hlm-command>